<template>
    <div>
        <h1>Recherche dans la filmotheque</h1>
        <Search></Search>
    </div>
</template>

<script>
    import Search from '@/components/Search.vue';

    export default {
        name: 'home',
        components: {
            Search
        }
    }
</script>
