<template>
    <div>
        <h1>Liste des films par filtre dans la filmotheque</h1>
        <Filtre></Filtre>
    </div>

</template>

<script>
    import Filtre from "../components/Filtre";

    export default {
        name: "ListeFiltre",
        components: {Filtre}
    }
</script>

<style scoped>

</style>