<template>
    <div>
        <h1>Vos films</h1>
        <Liste v-bind:results="results"></Liste>
    </div>
</template>

<script>
    import Liste from '@/components/Liste.vue';

    export default {
        name: "VosFilms",
        components: {
            Liste
        },
        data() {
            return {
                results: Array,
            };
        },
        mounted: function () {
            this.results= this.$store.state.listeFilm;
        }
    }

</script>

<style scoped>

</style>