<template>
    <div>
        <div id="filtre">
            <b-form>
                <b-form-group>
                    <label>Genre :
                        <b-select v-model="genre">
                            <option selected :value="null">Aucun</option>
                            <option v-for="g in listeGenres" :value="g.id" :key="g.id">{{g.name}}</option>
                        </b-select>
                    </label>
                    &nbsp;
                    <label>Contenu adult :
                        <b-select v-model="adultContent">
                            <option selected :value="false">non</option>
                            <option :value="true">oui</option>
                        </b-select>
                    </label>
                    &nbsp;
                    <label>Contient une vidéo :
                        <b-select v-model="haveVideo">
                            <option selected :value="false">non</option>
                            <option :value="true">oui</option>
                        </b-select>
                    </label>
                    &nbsp;
                    <label>Année de parution :
                        <b-select v-model="primary_release_year">
                            <option selected :value="null">Aucun</option>
                            <option v-for="year in years" :value="year" :key="year">{{ year }}</option>
                        </b-select>
                    </label>
                </b-form-group>
                <b-form-group>
                    <label>Nombre de note supérieur à:
                        <b-input v-model="vote_count_sup"></b-input>
                    </label>
                    &nbsp;
                    <label>Nombre de note inférieur à:
                        <b-input v-model="vote_count_inf"></b-input>
                    </label>
                    &nbsp;
                    <label>Note moyenne supérieur à:
                        <b-input v-model="vote_average_sup"></b-input>
                    </label>
                    &nbsp;
                    <label>Note moyenne inférieur à:
                        <b-input v-model="vote_average_inf"></b-input>
                    </label>
                </b-form-group>
                <b-btn v-on:click="getListe"> Appliquer le filtre</b-btn>
            </b-form>
        </div>

        <div v-if="haveResult">
            <h1> Liste des films</h1>
            <Liste v-bind:results="results"></Liste>
        </div>

    </div>
</template>

<script>
    import Liste from '@/components/Liste.vue';
    import axios from 'axios/index';

    export default {
        name: "Filtre",
        components: {
            Liste,
        },
        data() {
            return {
                api_key: "f91b5478ddfcb0c9715799c5f3961cac",
                json: Object,
                results: Array,
                haveResult: false,
                basicUrl: "https://api.themoviedb.org/3/discover/movie?api_key=",
                query: "",


                /*********** PARTIE LIER AUX FILTRES ***********/
                listeGenres: Array,
                genre: null,
                adultContent: false,
                haveVideo: false,
                primary_release_year: null,
                vote_count_sup: null,
                vote_count_inf: null,
                vote_average_sup: null,
                vote_average_inf: null,

            };
        },

        methods: {
            makeQuery() {
                this.query = this.basicUrl + this.api_key + "&language=fr-FR";
                if (this.genre != null) {
                    this.query += "&with_genres=" + this.genre;
                }
                this.query += "&include_adult=" + this.adultContent;
                this.query += "&include_video=" + this.haveVideo;
                if (this.primary_release_year != null) {
                    this.query += "&primary_release_year=" + this.primary_release_year;
                }
                if (this.vote_count_sup != null) {
                    this.query += "&vote_count.gte=" + this.vote_count_sup;
                }
                if (this.vote_count_inf != null) {
                    this.query += "&vote_count.lte=" + this.vote_count_inf;
                }
                if (this.vote_average_sup != null) {
                    this.query += "&vote_average.gte=" + this.vote_average_sup;
                }
                if (this.vote_average_inf != null) {
                    this.query += "&vote_average.lte=" + this.vote_average_inf;
                }

                console.log(this.query);
            },


            getListe() {
                this.makeQuery();

                axios.get(this.query)
                    .then(response => {
                        this.json = response;
                        if (this.json != null) {
                            this.results = this.json.data.results;
                            this.haveResult = true;
                        }

                    });


            },
            getGenres() {
                axios.get("https://api.themoviedb.org/3/genre/movie/list?api_key=" + this.api_key + "&language=en-US")
                    .then(response => {
                        this.json = response;
                        if (this.json != null) {
                            this.listeGenres = this.json.data.genres;
                        }

                    });
            },

        },

        computed: {
            years() {
                const year = new Date().getFullYear();
                let array =Array.from({length: year - 1950}, (value, index) => 1951 + index);
                return array.reverse();
            }
        },

        mounted: function () {
            this.getListe();
            this.getGenres();
        }

    }
</script>

<style scoped>

</style>