<template>
    <div class="liste">
        <table class="table table-hover table-striped">
            <thead class="thead">
            <tr>
                <th scope="col">Titre</th>
                <th scope="col">Date de sortie</th>
                <th scope="col">Note moyenne</th>
                <th scope="col">Nombre de notes</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody class="" v-for="(film,index) in results" :key="index">
            <ListeRow v-bind:film="film"></ListeRow>
            </tbody>
        </table>
    </div>
</template>

<script>
    import ListeRow from '@/components/ListeRow.vue';

    export default {
        name: "Liste",
        components: {
            ListeRow
        },
        props: {
            results: Array,
        }
    }
</script>

<style scoped>

</style>