<template>

    <tr>

        <th scope="row">{{film.title}}</th>
        <td>{{film.release_date}}</td>
        <td>{{film.vote_average}}</td>
        <td>{{film.vote_count}}</td>
        <td v-if="!isFav">
            <b-btn v-on:click="addToFav">Ajouter aux favoris</b-btn>
        </td>
        <td v-if="isFav">
            <b-btn v-on:click="delToFav">Retirer aux favoris</b-btn>
        </td>
        <td>
            <b-btn v-on:click="getImgUrl" @click="modalShow = !modalShow"> voir le poster</b-btn>
        </td>
        <b-modal v-model="modalShow" hide-footer v-bind:title="film.title">
            <div>
                <b-img v-bind:src="imgURl" fluid alt="Responsive image"></b-img>
            </div>

            <b-button class="mt-3" variant="outline-danger" @click="modalShow = !modalShow" >Fermer</b-button>
        </b-modal>

    </tr>


</template>

<script>
    export default {
        name: "ListeRow",
        data() {
            return {
                isFav: Boolean,
                modalShow: false,
                imgURl: "",
                basicImgUrl: "https://image.tmdb.org/t/p/original/",
            }
        },
        props: {
            film: Object,

        },
        methods: {
            addToFav() {
                if (!this.isFav) {
                    this.$store.state.listeFilm.push(this.film);
                    this.checkFav();
                }
            },
            delToFav() {
                if (this.isFav) {

                    for (var i = 0; i < this.$store.state.listeFilm.length; i++) {
                        if (this.$store.state.listeFilm[i].id === this.film.id) {
                            this.$store.state.listeFilm.splice(i, 1);
                        }
                    }
                    this.checkFav();
                }
            },
            checkFav() {
                for (var i = 0; i < this.$store.state.listeFilm.length; i++) {
                    if (this.$store.state.listeFilm[i].id === this.film.id) {
                        this.isFav = true;
                        return;
                    }
                }
                this.isFav = false;

            },
            getImgUrl(){
                this.imgURl =this.basicImgUrl+ this.film.poster_path;
            }
        },
        mounted: function () {
            this.checkFav();
        },

    }
</script>

<style scoped>

</style>