<template>
    <div>
        <div id="search">
            <label>
                <b-input type="text" v-model="searchValue" v-on:keyup="search">Rechercher</b-input>
            </label>
        </div>
        <div v-if="haveResult">
            <h1>Résultat de la recherche</h1>
            <Liste v-bind:results="results"></Liste>
        </div>
    </div>
</template>

<script>
    import Liste from '@/components/Liste.vue';
    import axios from 'axios/index';

    export default {
        name: "Search",
        components: {
            Liste,
        },
        data() {
            return {
                api_key: "f91b5478ddfcb0c9715799c5f3961cac",
                searchValue: "",
                json: Object,
                results: Array,
                haveResult: false,


            };
        },
        methods: {
            search() {
                if (this.searchValue != "") {
                    axios.get("https://api.themoviedb.org/3/search/movie?api_key=" + this.api_key + "&language=fr-FR&query=" + this.searchValue)
                        .then((response) => {
                            this.json = response;
                            if (this.json != null) {
                                this.results = this.json.data.results;
                                this.haveResult = true;
                            }
                        });
                }

            }
        }
    };


</script>

<style scoped>

</style>