<template>
    <div id="app">
        <b-navbar type="dark" variant="dark">
            <b-navbar-nav class="nav navbar-nav collapse navbar-collapse">
                <div>

                    <router-link class="navbar-center" to="/">Recherche</router-link>

                    &nbsp;
                    &nbsp;

                    <router-link class="navbar-center" to="/ListeFiltre">Liste avec filtre</router-link>

                    &nbsp;
                    &nbsp;

                    <router-link class="navbar-center" to="/VosFilms">Vos Films</router-link>

                </div>
            </b-navbar-nav>
        </b-navbar>
        <router-view/>
    </div>
</template>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
    }

    #nav {
        padding: 30px;
    }

    #nav a {
        font-weight: bold;
        color: #f2f2f2;
    }

    #nav a.router-link-exact-active {
        color: #f2f2f2;
    }


    /*.navbar-nav.navbar-center {*/
    /*position: absolute;*/
    /*left: 50%;*/
    /*transform: translatex(-50%);*/
    /*}*/
    .navbar-nav {
        width: 100%;
        text-align: center;

        background-color: #f2f2f2;


    > .navbar-center {
        float: none;
        display: inline-block;
    }

    }

</style>
